<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<suite name="Suite" parallel="classes" thread-count="2">
    <listeners>
        <listener class-name="listeners.TestAnnotationTransformer"/>
        <listener class-name="listeners.TestListenerAnnotation"/>
    </listeners>
    <test name="Test">
        <classes>
            <class name="ListenerTest"/>
        </classes>
    </test>
</suite>